<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Nav_bar_module_java_tutorial."
        tools:targetApi="31">
        <activity
            android:name=".DummyActivity2"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:theme="@style/CustomActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ProgramAndSyntaxFragment.ShowProgramSyntaxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizFragment.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".ChabotActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity2"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".QuizFragment.QuizStartActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>